# NodeJS
node_modules
dist

# Mercury
mercury/script

# Evolution
*scripts
*dependencies
*build
core/Makefile
core/src/Makefile
core/premake5
core/CoreIntegrator
*databases
*.db
*.env
*banlists
certs
app.log

# VSCode
*.vscode

# IntellJ
.DS_Store
.idea

