# NodeJS
node_modules
dist

# Mercury
mercury/script
mercury/pre-releases/ocg
mercury/pre-releases/tcg
mercury/alternatives
mercury/ocg

# Evolution
scripts
*dependencies
*build
*repositories
core/Makefile
core/src/Makefile
core/premake5
core/CoreIntegrator
core/example.so
core/libluasocket.so
core/vcpkg
core/vcpkg_installed
*databases
*.db
*.env
*.cdb
*.conf
*banlists
certs
app.log

# VSCode
*.vscode

# IntellJ
.DS_Store
.idea

postgres_data
ANALISIS_PROYECTO.md