# NodeJS
node_modules
dist

# Mercury
mercury/script
mercury/pre-releases/script
mercury/alternatives/script
mercury/alternatives/expansions

# Evolution
./scripts
*dependencies
*build
core/Makefile
core/src/Makefile
core/premake5
core/CoreIntegrator
core/example.so
core/libluasocket.so
*databases
*.db
*.env
*.cdb
*.conf
*banlists
certs
app.log

# VSCode
*.vscode

# IntellJ
.DS_Store
.idea

postgres_data